/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/ResoluçãoDaTela/nbproject/private/
/ResoluçãoDaTela/build/
/IdiomaDoSistema/nbproject/private/
/IdiomaDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/OlaMundoSwing/dist/